

@font-face {
    font-family: 'Mona Sans';
    src: url('/styles/fonts/MonaSansDisplay-Regular.woff2') format('woff2'),
         url('/styles/fonts/MonaSansDisplay-Regular') format('woff');
    font-weight: 400; /* Adjust weights as needed */
    font-style: normal;
}
@font-face {
    font-family: 'Mona Sans Black';
    src: url('/styles/fonts/MonaSansDisplayExpanded-Black.woff2') format('woff2'),
         url('/styles/fonts/MonaSansDisplayExpanded-Black') format('woff');
    font-weight: 400; /* Adjust weights as needed */
    font-style: normal;
}