:root {

    --color-darkA: rgba(81,91,47, 1.0);
    --color-darkB: rgb(105, 79, 53);
    --color-midB: rgb(209, 176, 143);
    --color-midA: rgb(184, 201, 130);
    --color-lightA: rgba(233, 237, 201, 1.0);
    --color-lightB: rgba(250, 237, 205, 1.0);
    --color-accentA: rgba(254, 250, 224, 1.0);
    --color-bright: rgba(221, 229, 182, 1.0);
    --color-unexpectedA: rgba(152, 245, 225, 1.0);    
    --color-accentB: rgb(214, 231, 185);
    --color-pure-white: rgb(255, 255, 255);
    --color-pure-black: rgb(0, 0, 0);
    --color-pure-gray: rgb(83, 83, 83);

    --oix-core-backgroundImage: radial-gradient(circle at center, var(--color-midA) 1px, transparent 0);
    --iox-core-ContainerBorderColor: var(--color-darkB);
    --oix-core-gridBackground: var(--color-lightA);
    --oix-core-TextColor: var(--color-pure-black);


    --oix-mast-bgColor: transparent;
    --oix-mast-bgImage: linear-gradient(var(--oix-mast-bgImageColorA), var(--oix-mast-bgImageColorB));
    --oix-mast-bgImageColorA: var(--color-midA);
    --oix-mast-bgImageColorB: var(--color-midB);

    --oix-mast-edgeStyle: solid;
    --oix-mast-edgeColor: var(--color-unexpectedA);

    --oix-mast-houseMarkColor: var(--color-darkA);
    --oix-mast-houseMarkInsetColor: var(--color-midA);
    --oix-mast-proprietorMarkColor: var(--color-bright);
    --oix-mast-proprietorMarkInsetColor: var(--color-darkA);
    --oix-mast-storeFrontTitleColor: var(--color-accentA);
    --oix-mast-storeFrontInsetColor: var(--color-darkB);

    --oix-mast-navColor: var(--color-darkA);
    --oix-mast-navColorHover: var(--color-darkB);
    --iox-mast-navTextShadow: var(--color-unexpectedA);
    --iox-mast-navTextShadowHover: var(--color-accentA);
    --oix-mast-navBoxShadow: var(--color-accentA);

    --iox-mast-navBtnBorderColor: var(--color-accentA);
    --iox-mast-navBtnBorderColorHover: var(--color-unexpectedA);
    --iox-mast-navBtnBorderStyle: dotted;
    --iox-mast-navBtnBorderStyleHover: solid;

    --oix-footer-borderStyle: dotted;
    --oix-footer-borderColor:var(--color-darkA);
    --oix-footer-bgColorA:var(--color-lightA);
    --oix-footer-bgColorB:var(--color-lightB);
    --oix-footer-shadowColor:var(--color-unexpectedA);
    --oix-footer-textColor:var(--color-darkA);
    --oix-footer-textLink:var(--color-darkB);
    --oix-footer-textLinkHover:var(--color-pure-black);

    --oix-navi-sectionHead-color: var(--color-darkB);
    --oix-navi-sectionSubHead-color: var(--color-darkB);
    --iox-navi-headerInsetColor: var(--color-bright);

    --oix-navi-backgroundStyle: linear-gradient(var(--color-midA), var(--color-lightA), var(--color-midA));
    --oix-navi-borderColor: var(--color-midA);
    --oix-navi-borderStyle: dotted;
    
    --oix-navi-btnBorderColor: var(--color-lightA);
    --oix-navi-btnBorderStyle: solid;
    --oix-navi-btnShadowColor: var(--color-midA);
    --oix-navi-btnLabelColor: var(--color-darkB);
    --oix-navi-btnBackground: none;
    --oix-navi-btnTextColorHover:var(--color-darkB);
    --oix-navi-btnShadowColorHover:var(--color-accentB);
    --oix-navi-btnBorderStyleHover:dotted;
    --oix-navi-btnBorderColorHover:var(--color-accentA);

    --font-family-accent: 'Mona Sans Black', 'Inter';
    --font-family-standard: 'Mona Sans', 'Inter';
    --oix-navi-boxGlow: 0rem 0rem 4rem var(--color-unexpectedA);
}

/* ===== PRIME OPERANTS ===== */

html {
  font-size: 100%; /* Ensures 1rem defaults to the user's browser setting, typically 16px */
}

body {
    font-family: var(--font-family-standard);
    line-height: 1.8rem; 
    color: var(--oix-core-TextColor);
    margin: 0;
    background: var(--oix-core-gridBackground);
    font-size: 1rem;
}

.iox_coreContainer {
  display: flex; /* Aligns sidebar and content side-by-side */
  min-height: 90vh; /* Ensures container takes full viewport height */
  border-top: solid 0.1rem var(--iox-core-ContainerBorderColor);
}

.iox_coreContents {
  flex: 1; /* Takes up remaining space */
  padding: 1.4rem;
  background-image: var(--oix-core-backgroundImage); 
  background-repeat: round; 
  background-size: 1rem 1rem; 
  width: 100vw;    

}

/* ===================== OIX MAST =================== */
.oix-mast {
    display: flex; /* DON'T CHANGE */
    position: relative; /* DON'T CHANGE */
    justify-content: space-between; /* DON'T CHANGE */
    align-items: center; /* DON'T CHANGE */
    background-color: var(--oix-mast-bgColor);
    background-image: var(--oix-mast-bgImage);
    border-bottom-width: 0.15rem; /* LOCKED SYSTEM */
    border-bottom-style: var(--oix-mast-edgeStyle);
    border-bottom-color: var(--oix-mast-edgeColor);
    padding: 0.2rem; /* DON'T CHANGE */
    height: 2.4rem;
}

.oix-mast_houseMark {
    color: var(--oix-mast-houseMarkColor);
    font-family: var(--font-family-accent);
    font-size: 1.4rem !important;
    text-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-houseMarkInsetColor);
    padding-top: 0.5rem;
    margin-right: -0.8rem;
    margin-left: 0.4rem;
}

.oix-mast_proprietorMark {
    color: var(--oix-mast-proprietorMarkColor);
    font-family: var(--font-family-accent);
    font-size: 1.2rem !important;
    text-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-proprietorMarkInsetColor);;
    padding-top: 0.5rem;
    margin-right: 0.1rem;
    margin-left: 0.5rem;
}

.oix-mast_storeFrontTitle {
    color: var(--oix-mast-storeFrontTitleColor);
    font-weight: 500;
    font-size: 1rem;
    text-shadow: 0.05rem 0.05rem 0rem  var(--oix-mast-storeFrontInsetColor);   
}

.oix-mast_miniNavi {
    position: absolute;
    right: 0.8rem;
    top: 0.4rem;
}

.oix-mast_miniNavi a {
    color: var(--oix-mast-navColor);
    font-weight: 900;
    font-size: 0.7rem;
    text-decoration: none;
    text-shadow: 0.05rem 0.05rem 0rem var(--iox-mast-navTextShadow);
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 0.05rem var(--iox-mast-navBtnBorderStyle) var(--iox-mast-navBtnBorderColor);
    border-radius: 0.25rem;
    box-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-navBoxShadow);
    margin-left: 3px;
}

.oix-mast_miniNavi a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--oix-mast-navColorHover);
    box-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-navColorHover);
    border: 0.05rem var(--iox-mast-navBtnBorderStyleHover) var(--iox-mast-navBtnBorderColorHover);
}

/* ===================== OIX PRIMARY NAVIGATION (DEFAULT: LEFT) =================== */

.oix-navi {
  width: 15rem; /* Fixed width */
  position: sticky; /* Makes it stick when scrolling */
  top: 0;
  background-image: var(--oix-navi-backgroundStyle);
  padding: 0.5rem;    
  border-right: 0.15rem var(--oix-navi-borderStyle) var(--oix-navi-borderColor);    
  box-shadow: var(--oix-navi-boxGlow);
}


.oix-navi-sectionHead {
    padding-top: 0.5rem;
    font-family: var(--font-family-accent);
    font-size: 1.3rem !important;
    color: var(--oix-navi-sectionHead-color);
    margin-right: -0.8rem;
    text-shadow: 0.05rem 0.05rem 0rem var(--iox-navi-headerInsetColor);
    margin-left: 0.5rem;
}

.oix-navi-sectionSubHead {
    padding-top: 0.5rem;
    font-family: var(--font-family-accent);
    font-size: 1.0rem !important;
    color: var(--oix-navi-sectionSubHead-color);
    margin-right: -0.8rem;
    text-shadow: 0.05rem 0.05rem 0rem var(--iox-navi-headerInsetColor);
    margin-left: 0.5rem;
}

.oix-navi-sectionPlacement {
    position: absolute;
    margin-left: 0.5rem;
}

.oix-navi ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; 
  margin: 0;
  padding-top: 0.5rem;
}

.oix-navi li {
    margin-bottom: 0.3rem;
    background: var(--oix-navi-btnBackground);
    font-weight: 900;
    font-size: 0.7rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.05rem;
    border: var(--oix-navi-btnBorderStyle) 1px var(--oix-navi-btnBorderColor);
    box-shadow: 0.05rem 0.05rem 0.06rem var(--oix-navi-btnShadowColor);
}

.oix-navi li a {
    color: var(--oix-navi-btnLabelColor);
    display: block;

}

.oix-navi li a:hover {
    color: var(--oix-navi-btnTextColorHover);
}

.oix-navi li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0.05rem 0.05rem 0rem var(--oix-navi-btnShadowColorHover);
    border: 0.05rem var(--oix-navi-btnBorderStyleHover) var(--oix-navi-btnBorderColorHover);
}

.oix-navi .icon svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-top: .3rem;
    stroke-width: 1 !important;
    opacity: 0.5;
}


/* ===== FOOTER ===== */
.oix-footer {
    color: var(--oix-footer-textColor);
    border-top: 0.05rem var(--oix-footer-borderStyle) var(--oix-footer-borderColor);
    font-size: 0.8rem;
    background-image: linear-gradient(var(--oix-footer-bgColorA), var(--oix-footer-bgColorB));
    padding: 0.5rem;
    padding-bottom: 0.15rem;
    padding-top: 0rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    box-shadow: -0.15rem -0.15rem 0.5rem var(--oix-footer-shadowColor);
}

.oix-footer a {
    text-decoration: none;
    color: var(--oix-footer-textLink);
    font-weight: 500;
}

.oix-footer a:hover {
    text-decoration: underline;
    color: var(--oix-footer-textLinkHover);
}

.oix-footerTagline {
    display: inline-block;
    font-size: 0.6rem;
    opacity: 0.7;
    position: absolute;
    right: 0.5rem;
    margin-top: 0.1rem;
}



.oix-footerLogo {
    color: var(--oix-mast-houseMarkColor);
    font-family: var(--font-family-accent);
    font-size: 1.4rem !important;
    text-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-houseMarkInsetColor);
    padding-top: 0.5rem;
    margin-right: -0.8rem;
    margin-left: 0.4rem;
}

.oix-footerSubLogo {
    color: var(--oix-mast-proprietorMarkColor);
    font-family: var(--font-family-accent);
    font-size: 1.2rem !important;
    text-shadow: 0.05rem 0.05rem 0rem var(--oix-mast-proprietorMarkInsetColor);;
    padding-top: 0.5rem;
    margin-right: 0.1rem;
    margin-left: 0.5rem;
}


/* {
    outline: 1px solid red;
} 

